.dark-input {
  background-color: black !important;
  color: white !important;
}

.dark-input::placeholder {
  color: white !important;
  background-color: black !important;
}
.cont1{
  border: 1px solid gold;
}
.font{
  color: rgb(227, 230, 192);
}
.font2{
  color: rgb(224, 74, 74);
}
.mau{
  background-color: red;
}
.bt1{
  background-color: rgb(185, 185, 64);
}
.bt2{
  border: none;
  background-color: rgb(142, 149, 142);
  color: rgba(108, 43, 43, 0.647);
}